body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.container {
  background-color: blue;
  height: 540px;
  width: 630px;
  border: 10px solid navy;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.disk {
  color: white;
  height: 70px;
  width: 70px;
  margin: 5px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid navy;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
#resetDiv {
  margin: 10px;
}
#reset {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
}
